PORT=5000
MONGODB_URL=mongodb://localhost:27017/farmer
JWT_SECRET=your_jwt_secret
ORS_API_KEY=your_ors_api_key
MANDI_API_KEY=your_mandi_api_key

SNOWFLAKE_ACCOUNT=your_snowflake_account
SNOWFLAKE_USERNAME=your_snowflake_username
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_WAREHOUSE=your_snowflake_warehouse
SNOWFLAKE_DATABASE=your_snowflake_database
SNOWFLAKE_SCHEMA=your_snowflake_schema

GROQ_API_KEY=your_groq_api
